<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DTO Request</title>
</head>
<body>
    -----------------
    <div class="name" th:text="'Name | ' + ${name}"></div>
    -----------------
    <div class="age" th:text="'Age | ' + ${age}"></div>
    -----------------
    <div class="gender" th:text="'Gender | ' + ${gender}"></div>
    -----------------
    <div class="dto" th:text="'MemberDto | ' + ${variable}"></div>
    -----------------
</body>
</html>